body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #91d9eb; 
}

.center-container {
    width: 50%; 
}

.wrapper {
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: column; 
    gap: 0.5rem;
}

aside {
    flex: 1;
    background-color: #282053; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    color: #dbff9e; 
    border-radius: 30px; 
    box-shadow: 0 0 30px rgba(67, 0, 83, 0.2);
}

main {
    flex: 2;
    background-color: #ffffff;
    padding: 1rem;
    color: #f9ffa4;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type='color'] {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #80ca82;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #286d4c;
}
